
:root{
--color-primary: #4263EB;
--color-secundary: #364FC7;
--color-grey0:#0A0C0D;
--color-grey1:#212529;
--color-grey2:#495057;
--color-grey3:#868E96;
--color-grey4:#DEE2E6;
--color-grey5:#F8F9FA;
--color-opacity-1:rgba(33,37,41,0.5);
--color-white:#FFFFFF;
--color-like: #e63731;
--title1:1.75em;
--title2:1.25em;
--text1:1em;
--text2-14:0.875em;
--text3:0.75em;
--border-radius:4px;

}